<!-- Info Grid Section -->
    <section id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Aktuelle Informationen</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p><b>Betriebsferien von 25.12.2021 bis 03.01.2022.</b></p>
                    <p><b>Gerne begrüssen wir Sie wieder ab dem 4. Januar!</b></p>
                </div>
            </div>
        </div>
    </section>

