<!-- Info Grid Section -->
    <section id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Aktuelle Informationen</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p><b>Betriebsferien vom 25. bis 30. August 2025</b></p>
                </div>
            </div>
        </div>
    </section>

