<!-- Info Grid Section -->
    <section id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Aktuelle Informationen</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p><b>Der Laden bleibt am Freitag, 8. Juli sowie Samstag, 9. Juli 2022 geschlossen.</b></p>
                </div>
            </div>
        </div>
    </section>

