<!-- About Section -->
    <section class="success" id="location">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Lageplan</h2>
                    <hr>
                </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>{{ site.address.street }}</p>
                    <p>{{ site.address.zip }} {{ site.address.city }}</p>
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.1613060756279!2d7.538642887181544!3d46.78730363202964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e4d3738ff8233%3A0xa8bff47b08d2b5d3!2sOrtho%20Mathys!5e0!3m2!1sde!2sch!4v1638206790641!5m2!1sde!2sch" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
                </div>
            </div>
        </div>
    </section>
