<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Öffnungszeiten</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Termine auch ausserhalb der Geschäftsöffnungszeiten nach Absprache möglich.</p><br />
                    <p><b>Montag:</b></p>
                    <p>geschlossen</p><br />
                    <p><b>Dienstag-Freitag:</b></p>
                    <p>09:00-12:00</p>
                    <p>13:30-18:00</p><br />
                    <p><b>Samstag:</b></p>
                    <p>08:00-12:00</p>
                </div>
            </div>
        </div>
    </section>
